<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.augmentum.oes.model.dao.UserRoleDao">

  <!-- Give role to user -->
  <insert id="create" parameterType="UserRole" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
      INSERT INTO
                  user_role(user_id, role_id, create_time, update_time, create_by, update_by)
      VALUES
             (#{userId}, #{roleId}, NOW(), NOW(), #{createBy}, #{updateBy})
    ]]>
  </insert>
</mapper>