<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.connectionString" connectionString="Data Source=WT01360\SQLEXPRESS;Initial Catalog=oes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>