<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DW022701</display-name>
  <welcome-file-list>
    <welcome-file>hello.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>firstServlet</display-name>
    <servlet-name>firstServlet</servlet-name>
    <servlet-class>com.dw.servlet.firstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet</servlet-name>
    <url-pattern>/firstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>oneServlet</display-name>
    <servlet-name>oneServlet</servlet-name>
    <servlet-class>com.dw.servlet.oneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oneServlet</servlet-name>
    <url-pattern>/oneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>second</display-name>
    <servlet-name>second</servlet-name>
    <servlet-class>com.dw.servlet.second</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
</web-app>