@CHARSET "UTF-8";

.back_gd {
  position: fixed;
  height: 100%;
  width: 100%;
  min-height: 2000px;
  opacity:0.28;
  z-index: 1;
  background-color: black;
  box-shadow: 10px 10px 5px #888888;
  visibility: hidden;
}

.prompt_main {
  width: 400px;
  height: 200px;
  border: 1px solid #2E4358;
  border-radius: 5px;
  margin: 18% 0 0 38%;
  position: relative;
  z-index: -1;
  background-color: #FFFFFF;
  position: fixed;
  visibility: hidden;
  box-shadow: 10px 10px 5px #888888;
}

.leave_img {
  position: absolute;
  top: 10px;
  right: 10px;
}

.prompt_info {
  font-family: Arial;
  font-size: 14px;
  color: #0A0A0A;
  margin: 70px 0 50px 70px;
  display: inline-block;
}

.choice_bt_box {
  display: block;
}

.prompt_yes, .prompt_no {
  width: 80px;
  height: 32px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 14px;
  border-radius: 3px;
  background-color: #FE9901;
  border: 0;
}

.prompt_yes {
  margin-left: 105px;
}

.prompt_no {
  margin-left: 23px;
}