<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <services>
      <!--LoginService-->
      <service name="Services.LoginService"  behaviorConfiguration="LoginServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9002/" />
            <add baseAddress="http://localhost:9003" />
          </baseAddresses>
        </host>
        <endpoint address="LoginService" binding="netTcpBinding" contract="Contracts.ServiceContracts.ILoginService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>

      <!--StudentService-->
      <service name="Services.StudentService"  behaviorConfiguration="StudentServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9004/" />
            <add baseAddress="http://localhost:9005" />
          </baseAddresses>
        </host>
        <endpoint address="StudentService" binding="netTcpBinding" contract="Contracts.ServiceContracts.IStudentService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>

      <!--TeacherService-->
      <service name="Services.TeacherService"  behaviorConfiguration="TeacherServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9006/" />
            <add baseAddress="http://localhost:9007" />
          </baseAddresses>
        </host>
        <endpoint address="TeacherService" binding="netTcpBinding" contract="Contracts.ServiceContracts.ITeacherService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      
    </services>

    <behaviors>
      <serviceBehaviors>
        
        <!--LoginServiceBehavior-->
        <behavior name="LoginServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>

        <!--StudentServiceBehavior-->
        <behavior name="StudentServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>

        <!--TeacherServiceBehavior-->
        <behavior name="TeacherServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>

      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>